.viewScores {
  padding: 20px 0 0 100px;
  cursor: pointer;
}

#timer {
  float: right;
  padding: 20px 100px 0 0;
  font-weight: 700;
  /* color: orange; */
}

.landingRow {
  text-align: center;
}

.landingPage {
  padding: 250px 0 0 0;
}

#quizDesc {
  font-size: 20px;
}

#questionTitle {
  margin-left: 40px;
  padding-bottom: 20px;
}

.quizRow {
  position: absolute;
  bottom: 320px;
  margin-right: 200px;
}

ul {
  line-height: 2;
  font-size: 23px;
  list-style-type: none;
}

.option1,.option2,.option3,.option4 {
  background-color: #007bff;
  border: solid black;
  padding-left: 20px;
  color: white;
  margin: 0 600px 0 0;
}

.option1:hover,.option2:hover,.option3:hover,.option4:hover {
  background-color: #99caff;
  color: black;
  cursor: pointer;
}

.option2 {
  border-top-width: 0;
  border-bottom-width: 0;
}

.option3 {
  border-bottom-width: 0;
}

.nameHsCont {
  text-align: center;
  padding: 250px 0 0 0;
}

#score {
  padding: 0 0 30px 0;
}

#timeLeft {
  padding: 0 0 20px 0;
}

#nameInstruct {
  padding: 0 0 20px 0;
}

#nameHS {
  width: 350px;
  height: 50px;
  margin: 0 20px;
  font-size: 25px;
  text-align: center;
}

#nameLabel {
  font-weight: 600;
  font-size: 30px;
}
